@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

$graylish-color: #D9DEE6;
$highlight-color: #FA695A;
$light-color: #F8F8F8;

@mixin flex-container {
    display: flex;
    align-items: center;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    @media (min-width: 600px) {
        font-size: 16px;
    }
}

.container {
    padding: 1rem;
    max-width: 100%;
    margin: auto;
    @media(min-width: 600px) {
        max-width: 550px;
        margin-top: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 25px $graylish-color;
    }
}

/****************
    TYPOGRAPHY
*****************/

body {
    font-family: 'Poppins', sans-serif;
}

.dog-name,
.dog-bio {
    color: $light-color;
    margin: 0;
}

.dog-name {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.dog-bio {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.5em;
}

.end-message {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: $light-color;
    text-shadow: 0 0 5px $highlight-color;
}

/****************
      HEADER
*****************/

header {
    @include flex-container();
    justify-content: space-between;
    margin-bottom: 1rem;
}

.user-icons {
    color: $graylish-color;
    font-size: 2rem;
    cursor: pointer;
    &:hover,
    &:focus {
        color: $highlight-color;
    }
    &:active {
        transform: scale(1.1);
    }
}

.logo {
    width: 5rem;
    height: auto;
}

/****************
    MAIN CONTENT
*****************/

.dog {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 100% 1rem 0 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
}

.btns-container {
    @include flex-container();
    justify-content: center;
}

.btn-wrapper {
    @include flex-container();
    background-color: #ffffff;
    border-radius: 50%;
    padding: .7rem;
    margin: .5rem;
    box-shadow: 0 0 15px $graylish-color;
    cursor: pointer;
    &:hover,
    &:focus {
        transform: scale(1.05);
    }
    & img{
        max-width: 30px;
        height: auto;
    }
}

.like-btn:hover,
.like-btn:focus,
.like-active  {
    background-color: #DBFFF4;
    box-shadow: 0 0 5px 3px #CCF1E6;
}

.dislike-btn:hover,
.dislike-btn:focus,
.dislike-active {
    background-color: #FFE7EF;
    box-shadow: 0 0 5px 3px #EDD9DF;
}

.like-btn:active,
.dislike-btn:active {
    box-shadow: 0 0 5px 3px $light-color;    
}

.badge {
    position: absolute;
    top: 4rem;
    left: 2rem;
    transform: rotate(-45deg);
    max-width: 30%;
}

#reset-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto 1rem auto; 
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    background-color: $highlight-color;
    color: $light-color;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    box-shadow: 3px 3px 10px 3px $graylish-color;
    &:active {
        box-shadow: inset 3px 3px 5px #544F4F;
    }
}

.hide {
    display: none;
}